body{
    color: aliceblue;
    background-color: yellow;
    margin-left: 100px; 
    margin-right: 100px;
   
}
img{
    display: block;
    margin: auto;
    width: 250px;
    height: 260px;
    margin-bottom: 50px;
}

.titulo{
    width: 500px;
    height:280px;
    
}

h3{
    border-bottom: 10px chocolate;
}
